.Container {
    display: flex;
    height: 100vh;
    background-image: url(https://oir.mobi/uploads/posts/2021-01/thumbs/1611928615_2-p-zadnii-fon-dlya-igri-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
  }

.Header {
    display: flex;
    height: 10%;
    justify-content: center;
    font-size: 30px;
}

.AddNewNote {
    display: flex;
    width: 80%;
    height: 7%;
    align-self: center; 
}

.InputNewNote {
    display: flex;
    flex: 15;
    border-radius: 8px;
    border-color: #4bb5e3;
    background-color: #ffffff;
    font-size: 20px;
}

.AddNoteButton {
    display: flex;
    flex: 1;
    margin: 0px 5px;
    align-items: center;
    justify-content: center;
}

.ContainerList {
    display: flex;
    height: 80%;
    flex-direction: column;
    overflow: auto;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    border-radius: 8px;
    border-color: #E0FFFF;  
}

.Note { 
    display: flex;
    flex-direction: column;
    padding-top: 1%;
}

.Item {
    display: flex;
    flex: 1;
    background-color:aquamarine;
    margin: 5px 5px;
    border-radius: 8px;
}

.TextItem {
    display: flex;
    flex: 20;
    border-radius: 8px;
    background-color: white;
    align-items: center;
    margin: 5px 5px;
    justify-content: flex-start;
    overflow: auto;
}

.Button {
    display: flex;
    flex: 1;
    margin: 5px 5px 5px 5px;
    align-items: center;
    justify-content: center;
}

.TextNote {
    display: flex;
    margin-top: 1%;
    display: flex;
    margin-left: 2%;
    border-radius: 8px;
    border-color: #4bb5e3;
    background-color: #ffffff;
    font-size: 10px;
    width: 80%;
    color: black;
    font-size: large;
}

.Logout {
    display: flex;
    flex: 1;
    width: 80%;
    align-items: center;
    justify-content: center;
    align-self: center; 
    margin-top: 1%;
    margin-left: 10%;
    height: 50px;
}