.RegistrationPage {
    display: flex;
    flex: 1;
    min-height: 100vh;
    text-align: center;
    flex-direction: column;
    background-image: url(https://oir.mobi/uploads/posts/2021-01/thumbs/1611928615_2-p-zadnii-fon-dlya-igri-2.png);
    background-repeat: no-repeat;
    background-size: cover;
	justify-content: center;
	align-items: center;
	
  }

.RegistrationHeader {
    color: rgb(12, 12, 15);
    display: flex;
    font-size: 30px;
    max-width: 600px;
}

.MainWindowRegistration {
    border-radius: 8px;
    border-color: #E0FFFF;
    background-color: #E0FFFF;
    height: 70vh;
	width: 50vw;
    max-width: 600px;
	min-width: 400px;
	min-height: 500px;
	max-height: 900px;
}

.NameAndInput {
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 7%;
}

.Name {
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
}

.Input {
  border-radius: 8px;
  border-color: #ffffff;
  background-color: #ffffff;
  font-size: 33px;
  width: 80%;
}

button {
  background-color: #4CAF50;
  border-radius: 8px;
  border-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 76%;
  margin-top: 10%;
  position: relative;
}





  